<!doctype html>
<html>

    <head>
        <title>Main Menu</title>
        <link rel = "stylesheet" type = "text/css" href="/css/global.css">
        <link rel = "stylesheet" type = "text/css" href="/css/mainmenu.css">
    </head>
    
    <body>
        <img class= "title-img"id= "title" src="/images/title-img.jpg" alt="Oregon Trail" >
        <h1>Main Menu</h1>
        <div class="row">
          <div class="column" >
            <h2>Travel the Trail!</h2>
            <p>1</p>
          </div>
          <div class="column" >
            <h2>Setup Your Wagon</h2>
            <p>2</p>
          </div>
        </div>
        <div class= "row">
          <div class="column">
            <h2>Leaderboard</h2>
            <p>3</p>
          </div>
          <div class="column" >
            <h2>Turn Sound <span id="onColor">ON</span>/<span id="offColor">OFF</span></h2>
            <p>4</p>
          </div>
        </div>
    <script type="text/javascript" src="/js/mainmenu.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
    </body> 

</html>