<!doctype html>

<html>
    <head>
        <title>Setup</title>
        <link rel = "stylesheet" type = "text/css" href="/css/global.css">
        <link rel = "stylesheet" type = "text/css" href="/css/setup.css">
    </head>
    
    <body>
        <img class= "title-img"id= "title" src="/images/title-img.jpg" alt="Oregon Trail" >
        <div id= "screen">
            Hey there..Press enter to continue.
        </div>
        <h3><span class="fade">press space to return to main menu</span></h3>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript" src="/js/setup.js"></script>
    </body> 

</html>