<!doctype html>

<html>
    <head>
        <title>Leaderboard</title>
        <link rel = "stylesheet" type = "text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/topten.css">
    </head>
    
    <body>
        <img class= "title-img"id= "title" src="/images/title-img.jpg" alt="Oregon Trail" >
        <h1>Top 10</h1>
        <div id="container">
          <div id="row1">
            <div class="name">lena</div><div class="score">430</div><div class="date">11/20/2018</div>
          </div>

          <div id="row2">
            <div class="name">Clix</div><div class="score">580</div><div class="date">11/20/2018</div>
          </div>

          <div id="row3">
            <div class="name">Dust</div><div class="score">310</div><div class="date">11/20/2018</div>
          </div>

          <div id="row4">
            <div class="name">Sura</div><div class="score">1640</div><div class="date">11/20/2018</div>
          </div>

          <div id="row5">
            <div class="name">Carol</div><div class="score">495</div><div class="date">11/20/2018</div>
          </div>
            <div id="row6">
            <div class="name">Jenny</div><div class="score">520</div><div class="date">11/20/2018</div>
          </div>

          <div id="row7">
            <div class="name">Mur</div><div class="score">580</div><div class="date">11/20/2018</div>
          </div>

          <div id="row8">
            <div class="name">KT</div><div class="score">220</div><div class="date">11/20/2018</div>
          </div>

          <div id="row9">
            <div class="name">Emmerson</div><div class="score">650</div><div class="date">11/20/2018</div>
          </div>

          <div id="row10">
            <div class="name">Mayer</div><div class="score">10</div><div class="date">11/20/2018</div>
          </div>
        </div>
        <h3><span class="fade">press space to return to main menu</span></h3>
    <script type="text/javascript" src="/js/global.js"></script>    
    <script type="text/javascript" src="/js/topten.js"></script>
    </body>
</html>