<!doctype html>
<html>
    <head>
        <title>Leaderboard</title>
        <link rel = "stylesheet" type = "text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/trail.css">
    </head>
    
    <body>
        <img class= "title-img"id= "title" src="/images/title-img.jpg" alt="Oregon Trail" >
        
         <img class= "terrain-img" id= "grass-terrain" src="/images/grassland.jpg" alt="Oregon Trail" >
        
        <div class="stat">Days on Trail: <span id="days">10</span></div>
        <div class="stat">Miles Travled: <span id="miles">10</span></div>
        <div class="stat">Party Health: <span id="health">10</span></div>
        <div class="stat">Weather: <span id="weather">10</span></div>
        <div class="stat">Pace: <span id="pace">10</span></div>
        <div class="stat">Current Terrain: <span id="terrain">10</span></div>
        <div class="stat">Number of Members: <span id="members">10</span></div>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript" src="/js/trail.js"></script>
    </body>
</html>